<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/partials.html :: head('Show Post')"></head>
<body>
<nav th:replace="partials/partials.html :: nav"></nav>
<header th:replace="partials/partials.html :: header('Post Details')"></header>

<div class="container">
    <h2 th:text="${posts.title}"></h2>
    <p th:text="${posts.body}"></p>
    <h4>The maker of this post is: <span th:text="${posts.user.email}"></span></h4>

    <div th:each="post : ${posts}">
        <img th:src="${post.images.image}"alt="cat">
    </div>

</div>


</body>
</html>